*{
    margin: 0 auto;
    padding: 0 auto;
}

header{
    display: flex;
    background-color:aquamarine;
    font-size: 40px;
    height:10rem;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

footer{
    display: flex;
    background-color: darkorchid;
    font-size: 20px;
    height: 10rem;
    text-align: center;
    align-items: center;
}

#contenedor{
    background-color: bisque;
    font-family: Arial;
    min-height: calc(100vh - 20rem);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ingresos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 100px;
}

#ingresos input{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 15px;
}

#ingresos select{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 15px;
}

#ingresos button{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-size: 15px;
}

#registrosTotales{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

#registrosTotales h1{
    margin-bottom: 30px;
}
 
#registrosTotales p{
    background-color: darkkhaki;
    font-size: 20px;
    font-style: bold;
}

#totales{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 10px;
}

#totales button{
    margin-right: 40px;
    font-size: 20px;
}

#totales label{
    font-size: 20px;
}

#parrafo{
    min-height: 180px;
}
